<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Formulário7</title>
  </head>
  <body>
    <h1>Exemplo de Formulário</h1>
    <form method="POST" autocomplete="on">
      <p>
        <label for="id_est">Estado</label>
        <select name="estado" id="id_est">
          <optgroup label="Região Sudeste">
            <option value="MG">Minas Gerais</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="SP" selected>São Paulo</option>
          </optgroup>
          <optgroup label="Região Nordeste">
            <option value="MA">Maranhão</option>
            <option value="PE">Pernambuco</option>
            <option value="RN">Rio Grande do Norte</option>
          </optgroup>
        </select>
      </p>
      <p>
        <label for="id_est">Estado</label><br />
        <select name="estado" id="id_est">
          <option value="" selected>-------- Escolha --------</option>
          <optgroup label="Região Sudeste">
            <option value="MG">Minas Gerais</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="SP">São Paulo</option>
          </optgroup>
          <optgroup label="Região Nordeste">
            <option value="MA">Maranhão</option>
            <option value="PE">Pernambuco</option>
            <option value="RN">Rio Grande do Norte</option>
          </optgroup>
        </select>
      </p>
      <p>
        <label for="id_prof">Profissão</label><br />
        <input type="text" name="prof" id="id_prof" list="lstprof" />
        <datalist id="lstprof">
          <option value="ADM">Administrador</option>
          <option value="CONT">Contador</option>
          <option value="DEV">Desenvolvedor</option>
          <option value="PROF">Professor</option>
        </datalist>
      </p>
      <p>
        <label for="id_prof2">Profissão2</label><br />
        <input type="text" name="prof" id="id_prof2" list="lstprof2" />
        <datalist id="lstprof2">
          <option>Administrador</option>
          <option>Contador</option>
          <option>Desenvolvedor</option>
          <option>Professor</option>
        </datalist>
      </p>
      <p>
        <!-- requer POST -->
        <label for="id_msg">Mensagem</label><br />
        <textarea rows="10" cols="30" name="msg" id="id_msg" placeholder="Mensagem"></textarea>
      </p>
      <p>
        <input type="submit" value="Enviar" />
        <input type="reset" value="Limpar" />
      </p>
    </form>
  </body>
</html>
