<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Facebook</title>
    <link href="PROJETOS/HTML5/CursoemVideo Mod4/portfolio/estilos/social.css" rel="stylesheet" />
  </head>
  <body>
    <img src="imagens/tela-facebook.jpg" alt="Facebook" />
    <a href="https://www.facebook.com/gustavoguanabara/" target="_blank">Acesse</a>
  </body>
</html>C:\PROJETOS\HTML5\CursoemVideo Mod4\portfolio\estilos
